<nav class="navbar navbar-expand-lg side-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
        
        <ul class="navbar-nav mr-auto flex-column w-100">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>

            {{!-- {{#if logged_in}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                     <button class="no-button" id="logout">Logout</button>
                    </a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                     <button class="no-button" id="logout">Login</button>
                    </a>
                </li>
            {{/if}} --}}
        </ul>
        
    </div>
</nav>