@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Quicksand', sans-serif;
  }

.post-feed{
  margin-top: 2%;
}

.sign-up, 
.login {
  width: 60%;
  margin-top: 5%;
}
.media-body {
  margin-top: 2%;
}

.list-group-item {
  background-color: aliceblue;
}
.list-group {
  margin-top: 5%;
}
  

  

